@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-shadow: var(--color-neutral-400);
  font-size: 15px;
}

.dark {
  --color-shadow: var(--color-neutral-600);
}

@theme {
  --font-sans: "Monda", sans-serif;
  --font-name: "Tourney", sans-serif;
}
