@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-shadow: var(--color-neutral-400);
  --ui-primary: var(--color-emerald-500);
  font-size: 16px;
}

@media (min-width: 1400px) {
  :root {
    font-size: 18px;
  }
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --color-shadow: var(--color-neutral-600);
}

@theme {
  --font-sans: "Monda", sans-serif;
  --font-name: "Tourney", sans-serif;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease;
}

/* Prevent transition on page load */
.no-transition * {
  transition: none !important;
}
