@import "tailwindcss";
@import "@nuxt/ui";

html {
  scroll-behavior: smooth;
}

:root {
  --color-shadow: var(--color-neutral-400);
  --ui-primary: var(--color-emerald-500);
  font-size: 16px;
}

@media (min-width: 1400px) {
  :root {
    font-size: 18px;
  }
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --color-shadow: var(--color-neutral-600);
}

@theme {
  --font-sans: "Monda", sans-serif;
  --font-name: "Tourney", sans-serif;
}
